<template name="input">
    <div class="container">
        <div class="row">
            <div class="four columns">
                <label for="exampleRecipientInput">Parser</label>
                <select class="u-full-width" id="exampleRecipientInput">
                    <option value="Option 1">All</option>
                    <option value="Option 2">In-House</option>
                    <option value="Option 3">Lisbon</option>
                    <option value="Option 4">Minsk</option>
                    <option value="Option 5">Peking</option>
                    <option value="Option 6">Riga</option>
                </select>
            </div>


            <div class="four columns">
                <label for="exampleRecipientInput">Type of error analysis</label>
                <select class="u-full-width" id="exampleRecipientInput">
                    <option value="Option 1">Part of speech tag</option>
                    <option value="Option 2">Dependeny type</option>
                    <option value="Option 3">Dependency length</option>
                </select>
            </div>


            <div class="four columns">
                <label for="exampleRecipientInput">Representation</label>
                <select class="u-full-width" id="exampleRecipientInput">
                    <option value="Option 1">dm</option>
                    <option value="Option 2">pas</option>
                    <option value="Option 3">psd</option>
                </select>
            </div>
        </div>
    </div>
</template>
